_book
.DS_Store
node_modules
tutorials/deeplearning/.Rapp.history
tutorials/deeplearning/.Rhistory
H2OTutorialsBook.pdf
cuda-workshop/*/*.out
training/sparkling_water_hands_on/sentiment_analysis/h2ologs/
training/sparkling_water_hands_on/sentiment_analysis/metastore_db/
training/sparkling_water_hands_on/sentiment_analysis/reviews_pipeline.model/
training/sparkling_water_hands_on/sentiment_analysis/nohup.out
training/sparkling_water_hands_on/sentiment_analysis/output/
sparkling_water_hands_on/sentiment_analysis/derby.log
training/s3/
SMU-Data-Science-H2O-Unit/.RData
SMU-Data-Science-H2O-Unit/.Rhistory
SMU-Data-Science-H2O-Unit/.Rproj.user
